.padre	{
	background-color: #F9CB9C;
	border: 20px solid #9900FF;
	border-right: 10px solid #9900FF;
	border-left: 10px solid #9900FF;
	padding: 40px 20px 70px 100px;
	margin: 120px 60px 30.5px 60px;	
}

.hijo	{
	background-color: white;
	text-align: center;
	border: 2px dashed #688B3C;
	height: 50px;
	line-height: 50px;
}
